@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Chivo+Mono:ital,wght@0,100;0,300;0,400;0,500;0,800;0,900;1,300;1,400&family=Roboto+Condensed:wght@400;700&family=Rubik+80s+Fade&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: white; */
}

body{
    background-color: black;
    width: 100%;
    min-height: 120vh;
    position: relative;

    overflow-x: hidden;
    /* overflow-y: visible; */
}



/* NAVBAR */

.nav{
    width: 100%;
    float: right;
    /* border: 1px solid red; */
    min-height: 10vh;
    /* display: flex; */
    padding: 1% 5%;
    gap: 5%;
    /* background-color: rgb(32, 32, 32); */
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    z-index: 100;
    
    /* justify-content: center; */

}
.nav .search_holder form{
    width: 100%;
    /* border: 1px solid red; */
}
.search_holder form, .auth_btn{
    display: inline;
}

.nav input{
    /* float: left; */
    width: 60%;
    padding-left: 2%;
    min-height: 5vh;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    /* border: 1px solid red; */
    /* border: 0.5px solid whitesmoke; */
    background-color: rgb(32, 32, 32);
    /* border-bottom: 1px solid whitesmoke; */
    /* box-shadow: 4px 0px 2px 0px rgb(43, 42, 42,0.3); */
}
.nav input:focus{
    outline: 0;
}
.nav .search_holder{

    float: right;
    margin-right: 2%;
    /* gap: 20px; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* border: 1px solid red; */
    
    width: 50%;
}
.nav .logo{
    float: left;
    /* border: 1px solid red; */
    width: 6.5%;
    height: 8vh;
    /* min-height: inherit; */
}
.nav .logo p{
    font-size: 30px;
    font-family: 'Audiowide';
}
.nav .logo img{
    width: 100%;
    height: 100%;
}
.auth_btn{
    /* margin-left: 5%; */
    float: right;
    /* border: 1px solid red; */
}
#toggle{
    width: 4%;
    height: 5vh;
    /* border: 1px solid red; */
    float: right;
    position: relative;
    cursor: pointer;
    
}
#toggle,.search_holder{
    margin-top: 1%;
}
#toggle::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 40%;
    transition: 0.2s ease-in;
}

#toggle::after{
    content: "";
    width: 80%;
    height: 1.5px;
    background-color: white;
    position: absolute;
    top: 60%;
    transition: 0.2s ease-in;
}
#toggle.active::after{
    top:40% ;
    width: 100%;
    transform: rotate(-45deg);
}
#toggle.active::before{
    transform: rotate(45deg);
    
}
#check{
    display: none;
}
#check:checked~.menu{
    left: 0%;
}



/* MENU */

.menu{
    width: 15%;
    min-height: 89vh;
    background-color: rgb(32, 32, 32);

    /* border: 1px solid red; */
    padding: 2% 2%;
    display: flex;
    position: absolute;
    left: -15%;
    top: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    float: left;
    border: none;
    transition: 0.3s ease;
    /* line-height: 90px; */
}


/* .menu .logo p{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
} */


.menu ul{
    display: inline-block;
    line-height: 50px;
    margin-top: 40%;
}
.menu ul li{
    list-style: none;
    font-size: 20px;
    /* font-weight: bold; */
    text-transform: capitalize;

}
.menu ul img{
    width: 100%;
    border-radius: 45%;
    height: 25vh;

}

.profile_bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 5%;
    /* border: 1px solid red; */
    /* justify-content: space-between; */
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 10vh;
    padding: 2% 5%;
    box-shadow: 1px -2px 2px 0px rgb(43, 42, 42,0.3);
}
.profile_bottom img{
    width: 22%;
    border-radius: 50%;
    height: 8vh;
}
.menu .profile_bottom p{
    font-size: 15px;
    font-weight: lighter;
    /* display: flex;
    flex-direction: column; */
}




/* LANDING  */

.landing{
    float: right;
    /* border: 1px solid red; */
    width: 100%;
    min-height: 100vh;
    /* padding: 2% 3%; */
    padding-top: 0%;
    margin-top: 0%;
    
    /* gap: 5px; */
    overflow-y: hidden;
    overflow-x: hidden;
}

/* header */

.header{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    /* overflow-y: hidden; */
    background: url(../css/bg4.jpg);
    background-repeat: no-repeat;
    background-position: right ;
    opacity: 70%;
    background-size: contain;
    
    padding: 2% 4%;
    padding-top: 8%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
}
.header_section1{
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
    display:  flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 2%;
}

.header_caption p:first-child{
    font-size: 75px;
    /* font-weight: bold; */
    color: rgb(179, 179, 179);
    font-family:'Roboto Condensed',sans-serif;
}
.header_caption p{
    font-size: 18px;
    font-family: 'Audiowide';
}
.header_caption p span{
    color: rgb(220, 185, 99);
}

.header_section2{
    width: 40%;
    overflow-y: hidden;
    /* height: 100%; */
    /* background: url(../css/bg.png); */
    
    /* border: 1px solid red; */
    background: black; 
    opacity: 70%;
    border: none;
   
}

/* main song body */
.section_1{
    width: 100%;
    min-height: 150vh;
    padding: 15% 5%;
    /* background-color: rgb(8, 9, 18); */
    /* background-image: linear-gradient(to bottom,black 10%,rgb(8, 9, 18) 30%); */
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid red; */
}
.section_1_holder{
    width: 100%;
    min-height: 120vh;
    /* border: 1px solid red; */
    /* display: flex;
    flex-direction: row; */
    /* padding: 0% 10%; */
    padding: 0% 2%;
}
.section_caption{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
 
    height: 10vh;
    padding: 1% 2%;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(32, 32, 32);
}
.music_holder{
    width: 14%;
    height: 30vh;
    box-shadow: 0px 4px 4px 1px rgba(56, 56, 56, 0.5);
    /* background-color: rgb(8, 9, 18); */
    background-color: black;
     display:  inline-block;
     margin-left: 2%;
    /* flex-direction: column; */ 
    color: white;
    margin-top: 10%;
    /* margin-right: %; */
    /* border: 1px solid red; */
}
.music_holder:first-child{
    /* margin-right: 2%; */
}

.music_container{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    position: relative;
  
    cursor: pointer;
    color: white;
    /* padding: 2% 2%; */
    
}


.music_image{
    width: 100%;
    height: 100%;
   
    /* opacity: 60%; */
    position: relative;
    /* z-index: 1; */
    /* border: 2px solid red; */

}
.music_overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    /* border: 1px solid  red; */
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    opacity: 60%;
}
.music_overlay:hover:before{
    content: "\f04b";
    color: white;
    font: var(--fa-font-solid);
    font-size: 50px;
    /* font-weight: bold; */
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    /* border: 1px solid red; */
}
.music_overlay.playing:before{
    content: '\f04c';
    font-size: 50px;
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.music_container button{
    background: none;
    /* transition: 1s ease-in; */
}
#playBtn{
    color: rgb(221, 221, 221);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    cursor: pointer;
    visibility: hidden;
}
.music_container:hover #playBtn{
    visibility: visible;
}
.music_holder:not(:first-child){
    /* margin-left: 5%; */
}
.music_holder .caption_holder{
    
    background-color: rgb(8, 9, 18);
    box-shadow: 0px 2px 2px 1px rgba(56, 56, 56, 0.5);
    /* border:  1px solid red; */
    width: 100%;
    height: 30%;
    font-size: 16px;
    padding: 5% 4%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.caption_holder .capt_hold{
    width: 80%;
    height: 100%;
    
    /* border: 1px solid red; */
}
.caption_menu_btn{
    border: 1px solid red;
    height: 100%;
}
.capt_hold .caption{
    text-decoration: none;
}
.dropbtn {
    background-color: transparent;
    color:white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
   
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 15px;
    display: block;
  }
  .dropdown-content a .fa-download{
    color: black;
  }
  
  .dropdown-content a:hover {background-color: rgb(158, 158, 158)}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
  }

  .more_songs_btn{
    transform: translateX(50%);
    /* margin-bottom:-20%; */
    /* align-self: center; */
  }


/* FEATURED */
.featured{
    /* border: 1px solid red; */
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    padding: 1% 3%;
}
.feature_holder{

    width: 50%;
    height: 90%;
    /* border: 1px solid red; */
    padding: 0% 0%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

}
.feature_holder:first-child{
    background-image: url('../css/bg5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.feature_content{
    width: 100%;
    /* border: 1px solid red; */
    padding: 2% 8%;
    margin-top: 7%;
}
.feature_content p{
    font-size: 13px;
    font-family: 'Audiowide';
}
.feature_content p:first-child{
    font-size: 21px;
    font-weight: bold;
}

/* SWIPER JS */
.section_2{
    width: 100%;
    height: 150vh;
    /* background-color: rgb(8, 9, 18); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
.swipe-section{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(8, 9, 18); */
}
.mySwiper{
    /* border: 1px solid red; */
    height: 80%;
    width: 80%;
    /* padding: 2% 10%; */
}
.mySwiper img{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    /* border: 1px solid red; */
    width: 20%;
    flex-shrink: 100%;
}
.swiper-wrapper{
    /* border: 1px solid red; */
    height: 20%;
    width: 100%;
}
.section_2 p:first-child{
    font-size: 40px;
}
.swiper_img_holder{
    width: 100%;
    height: 100%;
    /* background-color: black;
    opacity: 40%; */
    position: relative;

}
.swiper_img_caption{
    color:  white;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10% 5%;
    opacity: 70%;
    /* bottom: 8%;
    left:  20px; */
    font-size: 50px;
    background-color: black;
    /* z-index: 4; */
}

/* PLAYSTORE SECTION */
.section_3{
    width: 100% !important;
    height: 150vh;
    /* overscroll-behavior: none; */
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* filter: brightness(20%); */
    overflow-x: hidden;
    overflow-y: hidden;

    background: url('../css/footer.jpg');
    margin-top: 15%;
    /* position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0; */

    /* border: 1px solid red; */
}
.section_3-overlay{
    /* width: 300%; */
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    padding: 5% 10%;
    /* padding: 0; */
    height: 100%;
    /* background-color: black; */
    /* opacity: 92%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: nowrap; */
    overflow-x: hidden;
    overflow-y: hidden;
    /* border: 1px solid red; */
}
.section_3-overlay p{
    font-family: 'Chivo Mono';
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 0% 9%;
}
.section_3_content_holder{
    /* border: 1px solid red; */
    width: 100%;
    /* overscroll-behavior: none; */
    height: 100%;
    margin: 0;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    /* opacity: 90%; */
    
    padding: 1% 2%;
}

/* .section_3_content_holder:first-child{
    position: sticky;
    top: 0;
} */
.section_3_content{
    display: flex;
    /* background-color: black; */
    opacity: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;


}
.section_3_content img:last-child{
    width: 40%;
    cursor: pointer;
}




/* PLAY FOOTER FEATURE */

.play_feature{
    width: 100%;
    height: 15vh;
    position: fixed;
    /* background-color: whitesmoke; */
    background-color: rgb(32, 32, 32);
    z-index: 10;
    /* position: relative; */

    left: 0;
    bottom: 0;
    overflow-y: hidden;
   
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    /* display: none; */

}
.play_feature_caption{
    width:  20%;
    float: left;
    height: 100%;
    display: flex;
    padding: 0.5% 2%;
    /* justify-content: center; */
    align-items: center;
}
.play_feature img{
    width: 50%;
    height: inherit;
    padding: 1% 0%;
}
.play_feature p{
    font-size: 18px;
    color: white;
    margin-left: 4%;
}

.progress_control_holder{
    width: 80%;
    position: relative;
    padding: 0% 5%;
    /* border: 1px solid red; */
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress_holder{
    /* border: 1px solid red; */
    /* -webkit-appearance: none; */
    width: 60%;
    height: 10%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-left: 2%;
    border-radius: 5px;
    background: black;
    cursor: pointer;
}
.progress_holder[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none ;
  
  background: rgb(170, 170, 170);
  width: 100%;
  height: 15px;
  
  /* box-shadow: 0 0 2px 0 #555; */
  -webkit-transition: .2s;
  /* opacity: 1; */
  /* transition: opacity 1.0; */
}
.progress_holder[type="range"]::-webkit-slider-runnable-track  {
    /* -webkit-appearance: none; */
    height: 20px;
    width: 0%;
    box-shadow: none;
    border: none;
    /* background: blue; */
  }

.progress{
    background-color: rgb(57, 63, 63);
    width: 100%;
    border-radius: 0px;
    height: 100%;
    border: 1px solid red;
    
}

.controls{
    /* border: 1px solid red; */
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 5%;
    border: 0;
    float: right;
    /* height: 20%; */
}
.controls button{
    border: none;
    background-color: transparent;
}
.control{
   background-color: transparent;
   font-size: 25px;
   border: 0;
   cursor: pointer;
   outline: none;
}
.volume_icon{
    margin-left: 5px;
}
.volume_holder{
    position: fixed;
    right: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    /* border: 1px solid red; */
    align-items: center;
    transform: rotate(270deg);
  -moz-transform: rotate(270deg);
    /* -webkit-appearance: slider-vertical; */
    bottom: 21%;
    /* z-index: 5%; */
    background-color: rgb(32, 32, 32);
    width: 10%;
    height: 40px;
    padding: 2% 2%;
    display: none;
    
}
.volume_holder.active{
    display: flex;

}

.play_feature.min .progress_control_holder{
    display: none;
    width: 0%;
}
.play_feature.min .play_feature_caption p{
    display: none;
}
.play_feature.min .play_feature_caption{
    width: 100%;
}
.play_feature.min .play_feature_caption img{
   width: 100%;
   border-radius: 50%;
   opacity: 90%;
}
.play_feature.min {
    width: 8%;
    position: fixed;
    height: 18vh;
    bottom: 5%;
    left: 85%;
    background-color: transparent;
    cursor: pointer;

}

/* AUDIO PLAYER CUSTOMIZATION */
.rhap_container {
    /* color: black; */
    background-color: rgb(32, 32, 32);
    padding: 0% 2%;
}
.rhap_time {
    color: whitesmoke;
}
.rhap_volume-bar,.rhap_volume-indicator{
    cursor:ew-resize;
}
.minimize{
    /* position: fixed;
    bottom: 15%;
    right: 2%;
    width: 5%; */
    font-size:20px;
    border: none;
    height: 10%;
    display: flex;
    cursor: pointer;
    justify-content:  center;
    align-items: center;
    font-weight: lighter;
    background-color: rgb(32, 32, 32);
}
/* FOOTER */
.footer{
    width: 100%;
    height: 90vh;
    background-color: rgb(19, 18, 18)
}


/* SCREEN SIZE less than 1250px */

@media screen and (max-width:1250px){
    .menu{
        width: 18%;
        left: -18%;
    }
    .menu ul li{
        font-size: 25px;
    }
    .menu .profile_bottom p{
        font-size: 18px;
    }
    .feature_content p:first-child{
        font-size: 28px;
    }
    .feature_content p{
        font-size: 16px;
    }
    .section_1{
        /* border: 1px solid red; */
        padding: 2% 2%;
    }
}
@media screen and (max-width:1190px){
    .header_section1{
        width: 70%;
    }
    .header{
        width: 100%;
        background-size: 80%;
        background-position: top right;
    }
    .music_holder{
        width: 20%;
    }
    .mySwiper{
        width: 80%;
        height: 65%;
    }
}

@media screen and (max-width:1024px) {
    .header_caption p:first-child{
    font-size: 70px;
    /* font-weight: bold; */
    color: rgb(179, 179, 179);
    font-family:'Roboto Condensed',sans-serif;
    }
    .feature_content p:first-child{
        font-size: 20px;
    }
    .feature_content p{
        font-size: 15px;
    }
    .featured{
        /* border: 1px solid red; */
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content:  center;
        align-items: center;
        padding: 1% 3%;
    }
    .feature_holder{
        /* border: 1px solid red; */
    }
    .mySwiper{
        width: 80%;
        height: 60%;
    }
}
@media screen and (max-width:990px){
    .header{
        background: transparent;
    }
    .featured{
        display: flex;
        flex-direction: column;
        height: 150vh;
        margin-top: 10%;
    }
    .feature_holder{
        width: 100%;
    }
    .feature_holder:first-child{
        width: 80%;
    }
    .header_section2{
        /* opacity: 90%; */
        visibility: hidden;
    }
    
}